__pycache__/
.git/
tests/
*.pyc
*.db
.env
.ruff_cache
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
node_modules
.ruff_cache
.vscode
gptfiles
**/versions/*
.tox
typings
.gitignore
.env
.rooignore
copyforgpt.bat
project-breakdown.txt
.ruff.toml
pyrightconfig.json
ecommerce.db
.prettierrc
.htmlhintrc
biome.json
ecommerce.db
pytest.ini
tox.ini
